body{
    font-family: 'News Cycle', sans-serif;
}
.navbar-custom{
    height: 45px;
    background-color: black;
  }
#nav-dashboard-btn{
    color: brown;
    font-weight: bold;  
}
#bold-text{
    font-weight: bolder;
}

#code-text{
    font-family: 'Source Code Pro', monospace;
}